<div id = "sidebar">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, ipsam. Laboriosam voluptates excepturi quisquam quae quo laudantium, officia accusantium unde! Natus, iure. Totam cum sunt error ea quibusdam nulla eveniet?</p>
    <dl>
        <dt>Lorem Ipsum</dt>
        <dd>Lorem Ipsum</dd>
        <dd>Lorem Ipsum</dd>
        <dd>Lorem Ipsum</dd>
        <dt>Lorem Ipsum</dt>
        <dd>Lorem Ipsum</dd>
        <dd>Lorem Ipsum</dd>
        <dt>Lorem Ipsum</dt>
        <dd>Lorem Ipsum</dd>
        <dd>Lorem Ipsum</dd>
        <dd>Lorem Ipsum</dd>
    </dl>
</div>